In [57]:
# importing dataset

import pandas as pd

datawave_df = pd.read_csv('DataWave_Music_Sprint_Dataset - DataWave_Music_Sprint_Dataset.csv')
cleaned_datawave_df = datawave_df.copy()

In [58]:
cleaned_datawave_df.shape

(705, 12)

In [59]:
cleaned_datawave_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   user_id                       695 non-null    object
 1   country                       705 non-null    object
 2   age                           705 non-null    int64
 3   gender                        626 non-null    object
 4   subscription_type             705 non-null    object
 5   avg_listening_hours_per_week  705 non-null    float64
 6   total_songs_played            705 non-null    int64
 7   skip_rate                     705 non-null    object
 8   satisfaction_score            661 non-null    float64
 9   churned                       705 non-null    object
 10  monthly_fee                   672 non-null    object
 11  join_date                     705 non-null    object
dtypes: float64(2), int64(2), object(8)
memory usage: 66.2+ KB

In [60]:
#checking column names
cleaned_datawave_df.columns

Index(['user_id', 'country', 'age', 'gender', 'subscription_type',
       'avg_listening_hours_per_week', 'total_songs_played', 'skip_rate',
       'satisfaction_score', 'churned', 'monthly_fee', 'join_date'],
      dtype='object')

## Dealing with NaNs

In [61]:
# checking the number of missing values in each column
cleaned_datawave_df.isna().sum()

user_id                         10
country                          0
age                              0
gender                          79
subscription_type                0
avg_listening_hours_per_week     0
total_songs_played               0
skip_rate                        0
satisfaction_score              44
churned                          0
monthly_fee                     33
join_date                        0
dtype: int64

In [62]:
cleaned_datawave_df[cleaned_datawave_df['user_id'].isna()]

,user_id,country,age,gender,subscription_type,avg_listening_hours_per_week,total_songs_played,skip_rate,satisfaction_score,churned,monthly_fee,join_date
101,NaN,UK,50,female,Student,0.9,533,10%,4.0,no,0,05/07/2022
215,NaN,India,50,Female,Premium,9.1,484,25%,2.0,no,12.99,07/25/2023
257,NaN,USA,40,female,Free,8.5,501,0.1,5.0,1,9.99 USD,08/01/2024
261,NaN,Brazil,61,male,Premium,13.4,512,25%,5.0,no,0,01/15/2022
277,NaN,United Kingdom,40,male,Student,5.0,488,ten,2.0,0,7.99,05/02/2024
483,NaN,India,61,Female,Fam,16.1,494,30%,3.0,1,9.99,11/08/2022
538,NaN,Nigeria,37,female,Family,0.2,503,ten,2.0,1,12.99,17/08/2022
651,NaN,U.K.,26,female,Student,10.9,490,20%,4.0,no,9.99,25/12/2023
660,NaN,South Africa,22,female,Studnt,4.4,455,30%,4.0,0,7.99,01/21/2024
668,NaN,USA,16,female,Studnt,11.8,520,15%,3.0,0,9.99,23/09/2022

In [63]:
# if cleaned_datawave_df['user_id'].isna().any():
#     cleaned_datawave_df = cleaned_datawave_df.dropna(subset=['user_id'])

In [64]:
# drop the missing values in 'user_id' column.
# i dropped these because the user_id cannot be imputed or inferred from other data plus it was only a small amount of data missing.
cleaned_datawave_df = cleaned_datawave_df.dropna(subset=['user_id'])

In [65]:
# checking the number of missing values in each column
cleaned_datawave_df.isna().sum()

user_id                          0
country                          0
age                              0
gender                          79
subscription_type                0
avg_listening_hours_per_week     0
total_songs_played               0
skip_rate                        0
satisfaction_score              44
churned                          0
monthly_fee                     33
join_date                        0
dtype: int64

In [66]:
# cleaned_datawave_df[cleaned_datawave_df['gender'].isna()]
# cleaned_datawave_df[cleaned_datawave_df['gender'] == 'female'].shape[0]

In [67]:
#replacing missing values in gender column with 'prefer not to say'
#I replaced the missing values with prefer not to say because firstly, deleting was not an option since it was a large number of values missing
#Secondly, imputing this column with male/female/other would've been invasive since this is sensitive data
cleaned_datawave_df['gender'] = cleaned_datawave_df['gender'].fillna('prefer not to say')

In [68]:
# checking the number of missing values in each column
cleaned_datawave_df.isna().sum()

user_id                          0
country                          0
age                              0
gender                           0
subscription_type                0
avg_listening_hours_per_week     0
total_songs_played               0
skip_rate                        0
satisfaction_score              44
churned                          0
monthly_fee                     33
join_date                        0
dtype: int64

In [69]:
# cleaned_datawave_df[cleaned_datawave_df['satisfaction_score'].isna()]
# cleaned_datawave_df['satisfaction_score'].min()
print(cleaned_datawave_df[cleaned_datawave_df['satisfaction_score'] == 1.0].shape[0])
print(cleaned_datawave_df[cleaned_datawave_df['satisfaction_score'] == 2.0].shape[0])
print(cleaned_datawave_df[cleaned_datawave_df['satisfaction_score'] == 3.0].shape[0])
print(cleaned_datawave_df[cleaned_datawave_df['satisfaction_score'] == 4.0].shape[0])
print(cleaned_datawave_df[cleaned_datawave_df['satisfaction_score'] == 5.0].shape[0])

73
106
228
150
94

In [70]:
# I'm imputing ths missing values in the satisfaction_score column with the median satisfaction score because
# with the columns holds ordinal numerical data (1.0 to 5.0 with each representing a level of satisfaction from very unsatisfied to very satisfied)
# if i use the mean, the imputed values could be non-integer values like 3.6 which don't make sense in this context
# even though I use mode, it would've given me the same thing but on the flip side if a certain rating was way higher than the others in mode
# it would've distorted the data more than the median would
cleaned_datawave_df['satisfaction_score'] = cleaned_datawave_df['satisfaction_score'].fillna(cleaned_datawave_df['satisfaction_score'].median())

In [71]:
# checking the number of missing values in each column
cleaned_datawave_df.isna().sum()

user_id                          0
country                          0
age                              0
gender                           0
subscription_type                0
avg_listening_hours_per_week     0
total_songs_played               0
skip_rate                        0
satisfaction_score               0
churned                          0
monthly_fee                     33
join_date                        0
dtype: int64

In [72]:
# cleaned_datawave_df[cleaned_datawave_df['monthly_fee'].isna()]
# cleaned_datawave_df['monthly_fee']
cleaned_datawave_df[cleaned_datawave_df['monthly_fee'].notna()]

,user_id,country,age,gender,subscription_type,avg_listening_hours_per_week,total_songs_played,skip_rate,satisfaction_score,churned,monthly_fee,join_date
0,U1403,Nepal,23,F,Premum,11.5,510,5%,2.0,0,7.99,03/21/2024
1,U1165,Nepal,63,male,Student,11.3,526,5%,3.0,0,0,08/10/2023
2,U1474,USA,45,F,Premum,2.0,476,30%,3.0,0,7.99,04/05/2022
3,U1478,Nigeria,16,F,Family,12.1,529,20%,5.0,yes,12.99,12/16/2023
4,U1609,Ghana,29,M,Free,6.4,477,0.2,3.0,0,7.99,03/28/2022
...,...,...,...,...,...,...,...,...,...,...,...,...
700,U1584,United Kingdom,30,Male,Student,19.2,458,30%,4.0,no,7.99,07/21/2023
701,U1143,IND,14,prefer not to say,Premium,10.2,518,10%,4.0,0,9.99,03/03/2024
702,U1524,IND,55,male,Premium,5.5,517,5%,4.0,0,0,25/10/2023
703,U1046,Kenya,48,Female,Free,1.0,562,30%,5.0,no,0,02/06/2022
704,U1022,Nepal,13,Female,Fam,7.8,498,30%,5.0,0,7.99,05/12/2022

In [73]:
# checking the unique values in the monthly_fee column - to see what type of values are in this column
cleaned_datawave_df['monthly_fee'].unique()

array(['7.99', '0', '12.99', '9.99', '5', '9.99 USD', nan], dtype=object)

In [74]:
# removing ' USD' from the monthly_fee column and converting it to float
cleaned_datawave_df['monthly_fee'] = cleaned_datawave_df['monthly_fee'].str.replace(' USD', '', regex=True).astype(float)

In [75]:
cleaned_datawave_df['monthly_fee'].unique()

array([ 7.99,  0.  , 12.99,  9.99,  5.  ,   nan])

In [76]:
# used median to fill na values in monthly fee for similar reaons as the last time I used median
cleaned_datawave_df['monthly_fee'] = cleaned_datawave_df['monthly_fee'].fillna(cleaned_datawave_df['monthly_fee'].median())

In [77]:
# checking the number of missing values in each column
cleaned_datawave_df.isna().sum()

user_id                         0
country                         0
age                             0
gender                          0
subscription_type               0
avg_listening_hours_per_week    0
total_songs_played              0
skip_rate                       0
satisfaction_score              0
churned                         0
monthly_fee                     0
join_date                       0
dtype: int64

## user_id column

In [78]:
# to see if there are any duplicate user_ids
cleaned_datawave_df['user_id'][cleaned_datawave_df['user_id'].duplicated()].unique()

array(['U1038', 'U1102', 'U1453', 'U1383', 'U1617'], dtype=object)

In [79]:
# rows that have duplicate data in all columns for user_id
cleaned_datawave_df[cleaned_datawave_df['user_id'].duplicated(keep=False)]

,user_id,country,age,gender,subscription_type,avg_listening_hours_per_week,total_songs_played,skip_rate,satisfaction_score,churned,monthly_fee,join_date
23,U1038,United Kingdom,48,male,Free,6.7,485,15%,2.0,0,9.99,02/21/2023
91,U1617,Nigeria,61,male,Premium,4.3,482,0.1,3.0,0,9.99,28/07/2023
98,U1453,India,51,F,Premium,15.5,502,ten,2.0,0,9.99,12/15/2022
361,U1038,United Kingdom,48,male,Free,6.7,485,15%,2.0,0,9.99,02/21/2023
423,U1102,Ghana,49,male,Student,15.7,532,5%,2.0,0,0.00,03/29/2023
430,U1383,Ghana,52,female,Student,4.2,471,5%,4.0,0,0.00,17/11/2023
466,U1102,Ghana,49,male,Student,15.7,532,5%,2.0,0,0.00,03/29/2023
470,U1453,India,51,F,Premium,15.5,502,ten,2.0,0,9.99,12/15/2022
528,U1383,Ghana,52,female,Student,4.2,471,5%,4.0,0,0.00,17/11/2023
638,U1617,Nigeria,61,male,Premium,4.3,482,0.1,3.0,0,9.99,28/07/2023

In [80]:
# removing duplicate rows
cleaned_datawave_df = cleaned_datawave_df.drop_duplicates()

In [81]:
# to see if there are any duplicate user_ids
cleaned_datawave_df['user_id'][cleaned_datawave_df['user_id'].duplicated()].unique()

array([], dtype=object)

## country column

In [82]:
cleaned_datawave_df['country'].unique()

array(['Nepal', 'USA', 'Nigeria', 'Ghana', 'United Kingdom', 'IND',
       'Kenya', 'UK', 'South Africa', 'U.K.', 'India', 'Brazil'],
      dtype=object)

In [83]:
# Mapping old names to standardized ones
# country_map = {
#     'IND': 'India',
#     'United Kingdom': 'UK',
#     'U.K.': 'UK'
# }

# cleaned_datawave_df['country'] = cleaned_datawave_df['country'].replace(country_map)
# cleaned_datawave_df['country'].unique()

In [84]:
# standardizing country names
for country in cleaned_datawave_df['country'].unique():
    if country == 'IND':
        cleaned_datawave_df['country'] = cleaned_datawave_df['country'].replace(country, 'India')
    elif country == 'United Kingdom' or country == 'U.K.':
        cleaned_datawave_df['country'] = cleaned_datawave_df['country'].replace(country, 'UK')

cleaned_datawave_df['country'].unique()

array(['Nepal', 'USA', 'Nigeria', 'Ghana', 'UK', 'India', 'Kenya',
       'South Africa', 'Brazil'], dtype=object)

## age column

In [85]:
# checking the unique values in the age column
cleaned_datawave_df['age'].unique()

array([23, 63, 45, 16, 29, 59, 57, 41, 39, 64, 49, 46, 38, 50, 48, 18, 33,
       13, 26, 20, 24, 36, 52, 17, 58, 62, 25, 61, 43, 60, 40, 54, 42, 19,
       37, 21, 30, 35, 44, 15, 27, 47, 22, 34, 53, 31, 55, 51, 14, 32, 28,
       56])

In [86]:
# checking the data type of the age column
cleaned_datawave_df['age'].dtype

dtype('int64')

## gender column

In [87]:
# checking unique values in the gender column
cleaned_datawave_df['gender'].unique()

array(['F', 'male', 'M', 'female', 'prefer not to say', 'Male', 'Female',
       'Other'], dtype=object)

In [88]:
# standardizing gender
for gender in cleaned_datawave_df['gender'].unique():
    if gender == 'F':
        cleaned_datawave_df['gender'] = cleaned_datawave_df['gender'].replace(gender, 'Female')
    elif gender == 'M':
        cleaned_datawave_df['gender'] = cleaned_datawave_df['gender'].replace(gender, 'Male')

cleaned_datawave_df['gender'].unique()

array(['Female', 'male', 'Male', 'female', 'prefer not to say', 'Other'],
      dtype=object)

In [89]:
# standardizing gender
cleaned_datawave_df['gender'] = cleaned_datawave_df['gender'].str.title()

cleaned_datawave_df['gender'].unique()

array(['Female', 'Male', 'Prefer Not To Say', 'Other'], dtype=object)

## subscription_type column

In [90]:
# checking the unique values in the subcription_type column
cleaned_datawave_df['subscription_type'].unique()

array(['Premum', 'Student', 'Family', 'Free', 'Premium', 'Studnt', 'Fam'],
      dtype=object)

In [91]:
# standardizing subcription type
for sub in cleaned_datawave_df['subscription_type'].unique():
    if sub == 'Premum':
        cleaned_datawave_df['subscription_type'] = cleaned_datawave_df['subscription_type'].replace(sub, 'Premium')
    elif sub == 'Studnt':
        cleaned_datawave_df['subscription_type'] = cleaned_datawave_df['subscription_type'].replace(sub, 'Student')
    elif sub == 'Fam':
        cleaned_datawave_df['subscription_type'] = cleaned_datawave_df['subscription_type'].replace(sub, 'Family')

cleaned_datawave_df['subscription_type'].unique()

array(['Premium', 'Student', 'Family', 'Free'], dtype=object)

##### It seems like the monthly fee for the different subcription typr are mismatched. For instance, Free still has a charge, the other categories share the same fees
##### I might make anoher column where I will match the fees to plans..though I know that means I would be making some assumptions - for instance I may omit 5 in the new column because it doesn't follow the same style as the rest of the fees

In [92]:
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Family') & (cleaned_datawave_df['monthly_fee'] == 7.99)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Family') & (cleaned_datawave_df['monthly_fee'] == 9.99)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Family') & (cleaned_datawave_df['monthly_fee'] == 12.99)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Family') & (cleaned_datawave_df['monthly_fee'] == 0.0)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Family') & (cleaned_datawave_df['monthly_fee'] == 5.0)].shape[0])

65
73
15
33
21

In [93]:
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Premium') & (cleaned_datawave_df['monthly_fee'] == 7.99)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Premium') & (cleaned_datawave_df['monthly_fee'] == 9.99)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Premium') & (cleaned_datawave_df['monthly_fee'] == 12.99)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Premium') & (cleaned_datawave_df['monthly_fee'] == 0.0)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Premium') & (cleaned_datawave_df['monthly_fee'] == 5.0)].shape[0])

54
65
19
26
20

In [94]:
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Student') & (cleaned_datawave_df['monthly_fee'] == 7.99)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Student') & (cleaned_datawave_df['monthly_fee'] == 9.99)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Student') & (cleaned_datawave_df['monthly_fee'] == 12.99)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Student') & (cleaned_datawave_df['monthly_fee'] == 0.0)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Student') & (cleaned_datawave_df['monthly_fee'] == 5.0)].shape[0])

52
68
24
30
24

In [95]:
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Free') & (cleaned_datawave_df['monthly_fee'] == 7.99)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Free') & (cleaned_datawave_df['monthly_fee'] == 9.99)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Free') & (cleaned_datawave_df['monthly_fee'] == 12.99)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Free') & (cleaned_datawave_df['monthly_fee'] == 0.0)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Free') & (cleaned_datawave_df['monthly_fee'] == 5.0)].shape[0])

35
34
10
15
7

In [96]:
cleaned_datawave_df['monthly_fee'].unique()

array([ 7.99,  0.  , 12.99,  9.99,  5.  ])

In [97]:
cleaned_datawave_df['subscription_type'].unique()

array(['Premium', 'Student', 'Family', 'Free'], dtype=object)

In [98]:
# creating another column for updated monthly fee
cleaned_datawave_df['monthly_fee_updated'] = cleaned_datawave_df['monthly_fee']

In [99]:
fee_map = {
    'Free': 0.0,
    'Student': 7.99,
    'Family': 12.99,
    'Premium': 9.99
}

# Apply the mapping
cleaned_datawave_df['monthly_fee_updated'] = cleaned_datawave_df['subscription_type'].map(fee_map)

In [100]:
# flag rows where the fee changed
cleaned_datawave_df['fee_changed'] = cleaned_datawave_df['monthly_fee'] != cleaned_datawave_df['monthly_fee_updated']

In [101]:
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Family') & (cleaned_datawave_df['monthly_fee_updated'] == 7.99)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Family') & (cleaned_datawave_df['monthly_fee_updated'] == 9.99)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Family') & (cleaned_datawave_df['monthly_fee_updated'] == 12.99)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Family') & (cleaned_datawave_df['monthly_fee_updated'] == 0.0)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Family') & (cleaned_datawave_df['monthly_fee_updated'] == 5.0)].shape[0])

0
0
207
0
0

In [102]:
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Student') & (cleaned_datawave_df['monthly_fee_updated'] == 7.99)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Student') & (cleaned_datawave_df['monthly_fee_updated'] == 9.99)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Student') & (cleaned_datawave_df['monthly_fee_updated'] == 12.99)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Student') & (cleaned_datawave_df['monthly_fee_updated'] == 0.0)].shape[0])
print(cleaned_datawave_df[(cleaned_datawave_df['subscription_type'] == 'Student') & (cleaned_datawave_df['monthly_fee_updated'] == 5.0)].shape[0])

198
0
0
0
0

In [103]:
cleaned_datawave_df['monthly_fee_updated'].value_counts()

monthly_fee_updated
12.99    207
7.99     198
9.99     184
0.00     101
Name: count, dtype: int64

In [104]:
cleaned_datawave_df['fee_changed'].value_counts()

fee_changed
True     543
False    147
Name: count, dtype: int64

In [105]:
cleaned_datawave_df

,user_id,country,age,gender,subscription_type,avg_listening_hours_per_week,total_songs_played,skip_rate,satisfaction_score,churned,monthly_fee,join_date,monthly_fee_updated,fee_changed
0,U1403,Nepal,23,Female,Premium,11.5,510,5%,2.0,0,7.99,03/21/2024,9.99,True
1,U1165,Nepal,63,Male,Student,11.3,526,5%,3.0,0,0.00,08/10/2023,7.99,True
2,U1474,USA,45,Female,Premium,2.0,476,30%,3.0,0,7.99,04/05/2022,9.99,True
3,U1478,Nigeria,16,Female,Family,12.1,529,20%,5.0,yes,12.99,12/16/2023,12.99,False
4,U1609,Ghana,29,Male,Free,6.4,477,0.2,3.0,0,7.99,03/28/2022,0.00,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,U1584,UK,30,Male,Student,19.2,458,30%,4.0,no,7.99,07/21/2023,7.99,False
701,U1143,India,14,Prefer Not To Say,Premium,10.2,518,10%,4.0,0,9.99,03/03/2024,9.99,False
702,U1524,India,55,Male,Premium,5.5,517,5%,4.0,0,0.00,25/10/2023,9.99,True
703,U1046,Kenya,48,Female,Free,1.0,562,30%,5.0,no,0.00,02/06/2022,0.00,False
704,U1022,Nepal,13,Female,Family,7.8,498,30%,5.0,0,7.99,05/12/2022,12.99,True

In [106]:
# del cleaned_datawave_df['fee_changed2']
# del cleaned_datawave_df['monthly_fee_updated2']

### avg_listening_hours_per_week column

In [107]:
cleaned_datawave_df['avg_listening_hours_per_week'].unique()

array([11.5, 11.3,  2. , 12.1,  6.4, 11. ,  7.4, 21.5,  7.5, 18.7,  7.6,
       11.2,  3.7,  1.5, 11.8,  8.7,  9.5, 14.6, 10.4,  6.7,  4.5, 10.5,
        7.8,  9.2,  8. , 15.2, 10.9, 12.8, 10.7,  9. ,  6.9, 12.3, 12.5,
        7.7,  3.2, 14.4, 13.3, 10. ,  7.1,  4.6,  9.8,  4.4,  3. ,  8.9,
       14.8, 15.8,  6. , 10.2, 15.5,  7. ,  7.3,  9.9, 17.5, 13.8, 19.3,
        0.2, 10.3, 12.6,  5.9,  4.1,  5.1, 14.2, 11.7,  4.3, 16.8,  1.3,
       12.9,  8.5, 15. ,  5.2, 14.1,  9.3,  8.3, 14.5,  5.8, 13.9,  4. ,
        1. , 17.3,  6.8,  1.2,  3.3, 13.5, 13.1,  3.6,  6.2, 13. ,  2.9,
       12.4, 13.4, 17.4,  2.8, 15.9,  9.7, 16.6, 11.9, 12.7,  6.5,  9.6,
        3.9, 17.9,  6.3,  5.4, 13.2,  8.1, 16.1,  5.7,  2.4,  9.4, 10.6,
       23.4, 11.1,  0.9,  7.9, 16.5,  4.7,  8.2,  4.8, 13.6, 20.5,  1.4,
        2.6, 18.8, 13.7,  8.4, 16.9, 16.2, 11.6,  0.8, 10.8,  5.6, 19.1,
       14.3,  2.5, 19. ,  0.7,  0.3, 15.7, 15.1,  9.1, 18.4, 12. ,  3.8,
       22.1, 17.2, 23.3,  0.6, 16.3, 21.7,  0.5,  1.9,  5.5, 11.4, 15.6,
       15.4, 17.1, 20.3, 14. ,  2.3, 22.3,  6.1, 19.8, 21.4, 18.2, 17.8,
       10.1,  8.8, 20.8,  5.3, 17. , 21.1,  4.2,  7.2, 14.9, 15.3, 16. ,
       18.6,  5. ,  4.9,  3.4,  6.6, 16.4,  0.1, 23.7, 19.5, 20.1, 17.6,
        3.1, 14.7, 17.7,  2.1, 19.4, 23.6, 19.2])

### total_songs_played column

In [108]:
cleaned_datawave_df['total_songs_played'].unique()

array([510, 526, 476, 529, 477, 548, 502, 514, 494, 482, 440, 508, 509,
       507, 458, 527, 511, 454, 512, 522, 478, 498, 485, 486, 481, 496,
       473, 517, 524, 500, 459, 528, 442, 519, 520, 535, 475, 493, 542,
       491, 530, 531, 472, 483, 492, 490, 518, 513, 471, 532, 488, 480,
       479, 523, 504, 506, 516, 463, 474, 525, 466, 497, 505, 489, 503,
       495, 469, 464, 534, 487, 533, 484, 468, 561, 571, 457, 543, 455,
       499, 541, 501, 452, 539, 566, 565, 456, 515, 461, 545, 556, 536,
       467, 563, 521, 537, 460, 462, 544, 450, 453, 451, 470, 558, 554,
       441, 549, 444, 551, 546, 465, 538, 562])

### skip_rate column

In [109]:
cleaned_datawave_df['skip_rate'].unique()

array(['5%', '30%', '20%', '0.2', '25%', '15%', '10%', 'ten', '0.1'],
      dtype=object)

In [110]:
# standardizing skip rate
for rate in cleaned_datawave_df['skip_rate'].unique():
    if rate == 'ten' or rate == '0.1':
        cleaned_datawave_df['skip_rate'] = cleaned_datawave_df['skip_rate'].replace(rate, '10%')
    elif rate == '0.2':
        cleaned_datawave_df['skip_rate'] = cleaned_datawave_df['skip_rate'].replace(rate, '20%')

cleaned_datawave_df['skip_rate'].unique()

array(['5%', '30%', '20%', '25%', '15%', '10%'], dtype=object)

In [111]:
# removing '%' from the skip rate column and converting it to float
cleaned_datawave_df['skip_rate'] = cleaned_datawave_df['skip_rate'].str.replace('%', '', regex=True).astype(int)

cleaned_datawave_df['skip_rate'].unique()

array([ 5, 30, 20, 25, 15, 10])

In [112]:
for rate in cleaned_datawave_df['skip_rate'].unique():
    cleaned_datawave_df['skip_rate'] = cleaned_datawave_df['skip_rate'].replace(rate, rate/100)

cleaned_datawave_df['skip_rate'].unique()

array([0.05, 0.3 , 0.2 , 0.25, 0.15, 0.1 ])

### satisfaction_score column

In [113]:
cleaned_datawave_df['satisfaction_score'].unique()

array([2., 3., 5., 1., 4.])

### churned column

In [114]:
cleaned_datawave_df['churned'].unique()

array(['0', 'yes', '1', 'no'], dtype=object)

In [115]:
for churn in cleaned_datawave_df['churned'].unique():
    if churn == 'yes':
        cleaned_datawave_df['churned'] = cleaned_datawave_df['churned'].replace(churn, '1')
    elif churn == 'no':
        cleaned_datawave_df['churned'] = cleaned_datawave_df['churned'].replace(churn, '0')

cleaned_datawave_df['churned'].unique()

array(['0', '1'], dtype=object)

In [116]:
cleaned_datawave_df['churned'] = cleaned_datawave_df['churned'].astype(int)
cleaned_datawave_df['churned'].unique()

array([0, 1])